.offer-details{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.space-left{
    margin-left: 5px;
}

h2,h3{
    font-size: 12px;
    padding: 10px;
    border: 1px solid var(--ion-color-primary);
    border-radius: 5px;
    color: var(--ion-color-primary);
}